
@{
    ViewData["Title"] = "Index";
}
@model List<ProductWithCategoryDto>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>CellSerialNo</td>
            <td>CategoryName</td>
            <td>Icdeger</td>
            <td>Gerilim</td>
            <td>CreatedDate</td>
            <td>Durum</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.CellSerialNo</td>
                <td>@item.Category.CategoryName</td>               
                <td>@item.ProductFeature?.Icdeger</td>
                <td>@item.ProductFeature?.Gerilim</td>
                <td>@item.CreatedDate</td>
                <td>@item.ProductFeature?.Durum</td>
                <td>
                    <a class="btn btn-warning" asp-controller="Products" asp-action="Update" asp-route-id="@item.Id">Update</a>
                    <a class="btn btn-danger" asp-controller="Products" asp-action="Remove" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>

